*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:midnightblue;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px;
}
.cinema{
    display:flex;
    gap:40px;
    align-items:flex-start;
    padding-right:60px;
}
.tela{
    width: 50%;
    height:auto;
    background:white;
    margin:40px 0;
    border-radius:20px;
    box-shadow:0 0 10px white;
    color:midnightblue;
    text-align: center;
}
.tela p{
    font-size:20px;
    font-weight:bold;
}
.assento{
    width:35px;
    height:35px;
    border-radius:50%;
    border:none;
    cursor:pointer;
    transition:0.3s;
    background-color: white;
}
.assentos{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.linhas{
    display:flex;
    flex-direction:column;
    gap:24.5px;
    font-size:22px;
    font-weight:bold;
    margin-top:5px;
}
.fileira{
    display:flex;
    gap:12px;
    justify-content:center;
}
.assento:hover{
    transform:scale(1.3)
}
.ocupado{
    width:35px;
    height:35px;
    border-radius:50%;
    border:none;
    cursor:pointer;
    transition:0.3s;
    background-color: gray;
}
.escolhido{
    width:35px;
    height:35px;
    border-radius:50%;
    border:none;
    cursor:pointer;
    transition:0.3s;
    background-color: green;
}
.escolhido:hover{
    transform:scale(1.3)
}
button{
    font-size:15px;
    font-weight:bold;
}
#lista-assentos {
    font-size: 20px;
    font-weight: bold;
}
.selecionados {
    margin-top: 30px;
    text-align: center;
    color: white;
}

.selecionados h2 {
    margin-bottom: 10px;
}
.preco{
    margin-top: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.preco h2 {
    margin-bottom: 10px;
}
